[2021-12-21 06:25] kenji-miyake opened #2414 "Prepare a development environment for autoware.universe"
- [x] Set up https://github.com/autowarefoundation/autoware
- [x] Set up https://github.com/autowarefoundation/autoware_launch if necessary -> It was not mandatory.
- [x] https://github.com/autowarefoundation/autoware.universe/issues/204

[2021-12-27 02:13] kenji-miyake opened #2411 "Consider the structure of sensor/vehicle description/launch"
Currently, sensor_kit description/launch are separated, but vehicle description/launch are combined, which is not consistent.

sensor_kit
- https://github.com/tier4/aip_description.iv
- https://github.com/tier4/AutowareArchitectureProposal_aip_launcher

vehicle
- https://github.com/tier4/lexus_description.iv

We can reconsider the structure and naming.

[2021-12-27 02:16] kenji-miyake commented on #2411
FYI sensor_component: https://github.com/tier4/sensor_description.iv

[2022-01-08 19:03] kenji-miyake opened #2412 "Storage space of ARM self-hosted runner is probably small"
https://github.com/autowarefoundation/autoware/runs/4749425172?check_suite_focus=true

[code]

Or, the capacity allocated for Docker images is too small.

[2022-01-14 13:32] kenji-miyake commented on #2412
@xmfcx Have you said that you'll change the AWS machine settings in the last meeting? I don't remember well.

[2022-01-14 13:37] kenji-miyake commented on #2414
Can be closed by https://github.com/autowarefoundation/autoware/pull/8 and https://github.com/autowarefoundation/autoware/pull/14.

[2022-01-14 13:40] xmfcx commented on #2412
Yes, I'll look into it right away!

[2022-01-14 18:06] xmfcx commented on #2412
@kenji-miyake
Here is the report:

[autowarefoundation](https://github.com/autowarefoundation) organization has a [GitHub Actions Runner](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners) registered with a name `AutowareFoundationGithubActionsRunner`.

This runner runs on an AWS `t4g.xlarge` instance. [Amazon EC2 T4g instances are powered by Arm-based AWS Gravi

[2022-01-14 18:15] xmfcx commented on #2412
Also for x86_64 jobs we are using [GitHub-hosted runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners):

![chrome_2022-01-14_21-12-13](https://user-images.githubusercontent.com/10751153/149564595-be89d035-18b0-478c-ae7b-1ae14b96fe9a.png)

Hardware specification for Windows and Linux virtual machines:

2-core CPU
7 GB of RAM memory
14 GB of SSD disk sp

[2022-01-15 04:44] kenji-miyake commented on #2412
@xmfcx Thank you for your detailed report!

Hmm, it's too small... :cry:
I want at least 30GB of free space, is it possible to extend the storage size of the VM?

Regarding GitHub-hosted runners, I guess it's minimum requirements.
The actual storage space can be seen [here](https://github.com/autowarefoundation/autoware/runs/4777125097?check_suite_focus=true#step:3:23).

Anyway, if there's no prob

[2022-01-15 11:32] xmfcx commented on #2412
@kenji-miyake I've increased the storage by 30GB, now we have 39GB empty space.

[code]

[2022-01-17 10:10] kenji-miyake opened #2413 "Fix ARM build of scenario_simulator"
`libembree-dev` can't be installed on ARM.
https://github.com/autowarefoundation/autoware/pull/8#issuecomment-1014333684

- Build `embree` manually
- Run `rosdep install` with `--skip-keys=embree`

[2022-01-18 07:38] kenji-miyake commented on #2412
I confirmed that the CI is fixed in https://github.com/autowarefoundation/autoware/pull/8#issuecomment-1015132292.

Thank you @xmfcx !

[2022-01-18 08:30] IshitaTakeshi opened #2415 "[Docker] Edit files on host and execute on a container"
I'd like to propose the improvement on Dockerfile to modify the code on the host environment rather than on a container.

[Current Dockerfile on the add-docker branch](https://github.com/autowarefoundation/autoware/blob/add-docker/docker/autoware-universe/Dockerfile) expects to modify the code on a container rather than the host. But it is inefficient to set up the development environment and chan

[2022-01-18 09:03] IshitaTakeshi opened #2416 "[Docker] lidar_centerpoint executable could not be built without LibTorch"
lidar_centerpoint cannot be built on Docker since the current Dockerfile doesn't install libtorch.

lidar_centerpoint [explicitly requires libtorch installation](https://github.com/autowarefoundation/autoware.universe/blob/tier4/proposal/perception/lidar_centerpoint/CMakeLists.txt#L71) to build the executable so we need to add the lines to download and install libtorch on the Dockerfile or ansible

[2022-01-18 09:12] kenji-miyake commented on #2416
It's intended. Since the `libtorch` role only supports `x86` and uses TIER IV's Google Drive, I decided not to include it in this repository.
https://github.com/tier4/AutowareArchitectureProposal.proj/blob/474da436880f93bd59d87107bd9d83254b0cd9b3/ansible/roles/libtorch/tasks/main.yml#L5

Please install it from [TIER IV's proposal repository](https://github.com/tier4/AutowareArchitectureProposal.pr

[2022-01-18 09:12] #2416 closed, assigned to nobody

[2022-01-18 09:14] kenji-miyake commented on #2415
@IshitaTakeshi We prepare two images `devel` and `prebuilt`. I think using `devel` image can solve your problem. Is it okay for you?

https://github.com/autowarefoundation/autoware/tree/add-docker/docker#development-image

[2022-01-18 09:37] IshitaTakeshi opened #2417 "[Docker] Autoware.universe requires kvaser-interface"
[The current Dockerfile](https://github.com/autowarefoundation/autoware/blob/add-docker/docker/autoware-universe/Dockerfile) doesn't install kvaser-interface even autoware.universe requires it

To install kvaser-interface we need to explicitly add the repository as in the [installation procedure](https://github.com/astuff/kvaser_interface#installation) so we need to update the ansible playbook

[2022-01-18 09:39] IshitaTakeshi commented on #2415
For the development I think that the mount procedure should be written in README or we should add a script to realize it.

[2022-01-18 09:52] kenji-miyake commented on #2415
Yes, I'll write it later. Please note that this repository is still under construction.
Or it's great if you will send a PR to update README.

[2022-01-18 09:54] kenji-miyake commented on #2417
@IshitaTakeshi Please describe for what reasons you need `kvaser-interface`.
Also, is it impossible to replace it with https://github.com/autowarefoundation/ros2_socketcan?

It seems Kvaser devices supports SocketCAN.
https://www.kvaser.com/socketcan-support-for-kvaser-devices-updated/

[2022-01-18 10:10] wep21 commented on #2417
We have never used `ros2_socketcan` on autonomostuff vehicle, so we have to test it on the real vehicle before migrating to `ros2_socketcan`.

[2022-01-18 10:20] kenji-miyake commented on #2417
Okay, then I think we should test it. If it won't work we'll import the role from here.
https://github.com/tier4/AutowareArchitectureProposal.proj/blob/474da436880f93bd59d87107bd9d83254b0cd9b3/ansible/roles/pacmod/tasks/kvaser_library.yml

[2022-01-18 10:41] wep21 commented on #2417
Also, we have to do a trick to use kvaser usb as socketcan interface.
[code]

[2022-01-18 10:46] kenji-miyake commented on #2417
Thank you. I think it can be supported by some setup scripts for real vehicles.

[2022-01-18 17:55] kenji-miyake commented on #2412
@xmfcx I'm sorry but it seems we need a bit more space. :cry:
https://github.com/autowarefoundation/autoware/actions/runs/1712036308

Seeing this result, we need 55GB+ free space? :thinking:
https://github.com/autowarefoundation/autoware/actions/runs/1683139813
https://github.com/autowarefoundation/autoware/runs/4777125097?check_suite_focus=true#step:3:1110

You are running out of disk space. The

[2022-01-19 00:26] IshitaTakeshi commented on #2417
This is the reason to add kvaser-interface to the requirements. When launching the logging simulator it says that kvaser_interface cannot be found.

[code]

[2022-01-19 01:24] kenji-miyake commented on #2417
Why do you need `kvaser-interface` for the launch file?
Do you use a physical CAN in the simulation?

[2022-01-19 02:18] kenji-miyake commented on #2412
I measured the storage usage before/after building Autoware Docker images. It used `44GB` for `amd64`.
https://github.com/autowarefoundation/autoware/runs/4857291024?check_suite_focus=true

![image](https://user-images.githubusercontent.com/31987104/150050900-c916e293-9a2a-412b-9d3f-1841f86a6b53.png)

[2022-01-19 02:24] kenji-miyake commented on #2412
@xmfcx Is it possible to add more 10~20GB space...?
Or if we drop building `prebuilt` images, probably the current space is enough.

[2022-01-19 03:05] xmfcx commented on #2412
We could add but I think we should first try to reduce the space we are using. This is ok for single runner but for parallel runners it'll cost too much, not scalable. In autoware.auto 30gb total space for entire machine was enough.

[2022-01-19 03:51] kenji-miyake commented on #2412
What do you think we can specifically do in order to save the space?

Yes, but the current `autoware.universe` depends on CUDA, which uses additional 10GB+. :cry:

[2022-01-19 03:54] IshitaTakeshi commented on #2417
Not sure so I grep-ed in the workspace directory and got the following

[code]

Apparently pacmod3 requires it.

[2022-01-19 04:40] IshitaTakeshi commented on #2415
Still there are other updates to the docker environment and I have my personal tasks so let me show my launch command this time.

[code]

[2022-01-19 05:27] kenji-miyake commented on #2417
I know it has the dependency, but my question is, why do you have to launch the node in the simulation?

[2022-01-19 05:33] IshitaTakeshi opened #2418 "[Documentation] Commit message guidelines for cleaner commit history"
The current commit history is automatically generated when merging, but it creates many lines and makes it harder to catch up on what is going on. So I'd like to propose formulating a commit message guideline for better commit history.

I think we should explicitly define what we should include in the commit history and what we don't include. We can refer to other OSS contribution guidelines.

[2022-01-19 05:36] kenji-miyake commented on #2418
- When do you confirm the commit history?
- What command do you?

Please give me a bit more concrete examples. :pray:

[2022-01-19 06:06] IshitaTakeshi commented on #2417
What node do you refer to?

My current task is to improve the localization accuracy and availability so basically I don't need to launch all the nodes under the logging simulator, but for me, who doesn't know that much about the Autoware architecture, it is easier to launch the logging simulator than disabling unnecessary nodes.

[2022-01-19 06:22] kenji-miyake commented on #2417
Probably this?
https://github.com/tier4/lexus_description.iv/blob/4a3a06e297f85a737d2b5879b508843b2998038a/launch/pacmod3_with_kvaser-node-launch.py

I believe it's better that you'll get familiar with Autoware and do appropriate handling!
I guess, for example, we need to add an option of whether to launch `kvaser-interface`, to [this file](https://github.com/tier4/lexus_description.iv/blob/4a3a06

[2022-01-19 06:28] IshitaTakeshi commented on #2418
When exploring in which commit the changes have been made to interested parts, if the commit message has many lines it makes us harder to find what we are looking for.
Let's say someone made changes to the localization module, modified the NDT's optimization function, and I want to improve the functionality.
If commit message was like

[code]

I can not obtain any information from there.
If every

[2022-01-19 06:42] IshitaTakeshi commented on #2417
Okay, but at least as an OSS it should be much better the logging simulator always works fine so when merging the Dockerfile to the default branch we should disable the node depending on `kvaser-interface` (or install `kvaser-interface`), otherwise users will regard autoware as just useless.

[2022-01-19 06:52] kenji-miyake commented on #2418
@IshitaTakeshi Again, what command do you use? And please paste it with the output like this.
Also, why do you not use `--oneline`?

[code]

[2022-01-19 06:55] kenji-miyake commented on #2417
@IshitaTakeshi Regarding that, I believe we should consider replacing `kvaser-interface` by `ros2_socketcan`.
https://github.com/autowarefoundation/autoware.ai/issues/2417

Please understand that adding everything isn't always correct.

[2022-01-19 07:08] IshitaTakeshi commented on #2418
I used the ordinary `git log`. So then I'm going to use `git log --oneline`

[2022-01-19 07:10] IshitaTakeshi commented on #2418
This is the output. Too long to paste the whole though

[code]

[2022-01-19 07:50] kenji-miyake commented on #2418
@IshitaTakeshi I see, thank you!

Then, how about using these useful tools? It helps you to explore the commit history.
- https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens
- https://marketplace.visualstudio.com/items?itemName=mhutchie.git-graph

Although these are for VSCode, there might be tools for your IDE.

[2022-01-19 07:54] xmfcx commented on #2412
We won't use cuda on CI, we should make it optional.

[2022-01-19 07:57] kenji-miyake commented on #2412
If so, we can't check the build of some perception modules in `autoware.universe`, is that okay?
Also, could you tell me why do you think making it optional is good?

[2022-01-19 08:01] xmfcx commented on #2412
The CI machines don't have Nvidia gpus and CUDA only works on nvidia gpus so we couldn't check them anyway.

Instances with gpus are much more expensive, we could set them to be checked with lower frequency if needed.

[2022-01-19 08:04] kenji-miyake commented on #2412
@xmfcx

Yes, we can't check the runtime behavior, but I think we can check the build.

We don't need GPUs.

[2022-01-19 08:41] kenji-miyake commented on #2412
@xmfcx So considering that, can we increase the space or cannot in any case?

[2022-01-19 09:43] IshitaTakeshi commented on #2418
Yeah but... It's like messing a library by ourselves and exploring a book from there. If the library is clean from the beginning we don't need to do so. And it can be realized by writing just two or three phrases when making a commit
Why making unnecessary jobs by messing our rooms by ourselves...

[2022-01-19 14:34] xmfcx commented on #2412
@kenji-miyake right now it has 60GB size, will increase it to 80GB. Since it is only a single machine, it shouldn't be a problem hopefully.

[2022-01-19 14:43] xmfcx commented on #2412
@kenji-miyake Increased it, current configuration:
[code]

[2022-01-19 15:25] kenji-miyake commented on #2412
Thank you! But it seems there is another issue... :cry: I'll investigate and fix it.
https://github.com/autowarefoundation/autoware/actions/runs/1714127510

[2022-01-19 16:01] kenji-miyake commented on #2412
[code]

[2022-01-19 16:03] xmfcx commented on #2412
Yeah, I've also stated it in https://github.com/autowarefoundation/autoware.ai/issues/2412 in collapsed logs.

[2022-01-19 16:05] kenji-miyake commented on #2412
Oh, yes it was folded, sorry.

And after `docker system prune --all`

[code]

[2022-01-19 16:16] kenji-miyake commented on #2412
[code]

Since it seemed that old containers are left, I stopped all containers and ran `docker volume prune`.

After that,

[code]

To avoid such problems, we should try ephemeral runners as you said.

[2022-01-20 04:40] kenji-miyake commented on #2412
@xmfcx Succeeded!
https://github.com/autowarefoundation/autoware/runs/4870569220?check_suite_focus=true

It used about 46GB.

![image](https://user-images.githubusercontent.com/31987104/150274785-84b256c1-b25f-49bb-8bb1-cdca5f9ab44c.png)

I'll try some more times to confirm there isn't an old and big cache left.

It seems to be cleaned up so far.
https://github.com/autowarefoundation/autoware/runs

[2022-01-21 01:06] kenji-miyake opened #2419 "Set up scenario testing CI"
As pointed out [here](https://github.com/autowarefoundation/autoware/pull/26#issuecomment-1016010614), it's useful if we can run scenario testing on CI.

We can use TIER IV's Autoware Evaluator for this use case.
In that case, we need to add `.webauto-ci.yml` to this repository.
https://github.com/tier4/AutowareArchitectureProposal.proj/blob/474da436880f93bd59d87107bd9d83254b0cd9b3/.webauto-ci.yml

[2022-01-21 06:03] kenji-miyake commented on #2415
@IshitaTakeshi I updated the document, could you review it?
https://github.com/autowarefoundation/autoware/pull/14
https://github.com/autowarefoundation/autoware/pull/14/commits/6958e38ff15a2cea20f205d384a47c3574f75052

[2022-01-21 06:17] IshitaTakeshi commented on #2415
Commands look good. Can I overwrite the English text part?

[2022-01-21 06:38] kenji-miyake commented on #2415
@IshitaTakeshi Actually please refrain from that, please propose changes instead. :pray:
https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request

[2022-01-24 01:43] #2412 closed, assigned to nobody

[2022-01-25 03:43] kenji-miyake opened #2420 "Consider how we should write copyright notices"
Opened by this comment: https://github.com/autowarefoundation/autoware/pull/29#discussion_r790972404

Reference links:
- https://opensource.google/docs/copyright/#the-year
- https://www.linuxfoundation.org/blog/copyright-notices-in-open-source-software-projects/
- https://www.apache.org/legal/src-headers.html
- https://www.apache.org/foundation/license-faq.html
- https://infra.apache.org/licensing

[2022-01-25 04:26] kenji-miyake commented on #2420
I think we can refer to the `iceoryx`'s way as well. It looks nice.
https://github.com/eclipse-iceoryx/iceoryx/blob/master/NOTICE.md
https://github.com/eclipse-iceoryx/iceoryx/blob/master/CONTRIBUTING.md#header

Also, OpenSSL looks good.
https://github.com/openssl/openssl/blob/master/CONTRIBUTING.md

[2022-01-25 06:11] kenji-miyake commented on #2420
My proposal:

### For new files

Rule:

- Prepare `NOTICE` and use `Copyright yyyy The Autoware Contributors`.

Rationale:

- As LF says, We don't want to pay a lot of maintenance costs for updating copyright notations.

### For existing files

Rule:

- Accept the as-is style.
- We can change the copyright notation to `Copyright yyyy The Autoware Contributors`. if we can agree with the original au

[2022-01-25 06:16] kenji-miyake commented on #2420
@xmfcx @kmiya What do think about this?

[2022-01-25 08:03] kenji-miyake commented on #2420
For this, I think it's a good idea to agree with people who want to write their names to `NOTICE`, that "if you want to write your name here, you have to remove your name from each Copyright notation or agree that the maintainers will remove them.", how about this?

(Seeing [here](https://github.com/llvm/llvm-project/blob/184591aeeb5a531f2315c3d7cddcd199c87ecb2c/libcxx/CREDITS.TXT), `CREDITS.TXT`

[2022-01-26 12:57] ghost commented on #2420
From looking at the Apache examples given, they all say "Copyright yyyy The Apache Foundation" rather than "The Apache Contributors".

Is there some reason why we cannot say `Copyright yyyy The Autoware Foundation` ?

[2022-01-26 13:06] kenji-miyake commented on #2420
@LalithVipulananthan (Although I'm not sure I'm right...)

The ASF uses `Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.`.
https://www.apache.org/legal/src-headers.html

I guess why they do so is because they sign a CLA. (But I'm not sure.)

I feel if we use `The Autoware Foundation` then it seems the AWF has the copyright.
But actually, since we

[2022-01-27 05:12] kenji-miyake commented on #2420
TSC members will talk about this issue.
https://gitlab.com/autowarefoundation/autoware-foundation/-/issues/204

[2022-01-31 09:41] xczhanjun opened #2421 "enable open cda workflow"
enable open cda workflow

[2022-01-31 09:43] kenji-miyake commented on #2421
@xczhanjun What's `open cda`?
Could you write a bit more description so that everyone can understand?

[2022-01-31 11:20] #2421 closed, assigned to nobody

[2022-02-02 09:44] #2414 closed, assigned to nobody

[2022-02-02 13:45] kenji-miyake commented on #2418
@IshitaTakeshi Could you write clear acceptance criteria for this issue, please?

[2022-02-02 13:45] kenji-miyake commented on #2415
@IshitaTakeshi Is it okay for you to close this issue?

[2022-02-02 13:48] kenji-miyake commented on #2417
Acceptance Criteria:

- [ ] Consider replacing `kvaser-interface` by `ros2_socketcan`.
We need to evaluate `ros2_socketcan` with Kvaser devices to do that.

Or,
- [ ] Consider removing `kvaser-interface` from `logging_simulator.launch.xml`.
Essentially, no hardware is required for the simulation.

[2022-02-03 01:55] xczhanjun commented on #2417
Maybe we should remove `kvaser-interface` from `logging_simulator.launch.xml` and using ros2_socketcan. We can setup a fake socket can interface when doing simulation.

[2022-02-03 03:27] IshitaTakeshi commented on #2415
Yes. Thank you for commiting

[2022-02-03 03:27] #2415 closed, assigned to IshitaTakeshi

[2022-02-03 14:56] xczhanjun commented on #2419
this is a great feature.

[2022-02-16 16:35] mitsudome-r commented on #2420
We have discussed in the TSC call.
@filiperinaldi will provide comments regarding the copyright notice.

[2022-02-21 01:14] kenji-miyake opened #2422 "[Ansible] duplicated entries are written to nvidia-docker.list"
If I run `./setup-dev-env.sh docker` multiple times, duplicated entries are written.

[code]

[2022-02-21 01:22] kenji-miyake commented on #2422
Probably this? https://github.com/ansible/ansible/issues/25286
Will try replacing `lineinfile` with `blockinfile` or `template`.

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/lineinfile_module.html#ansible-collections-ansible-builtin-lineinfile-module
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/blockinfile_module.html#ansible-collections-ansible-built

[2022-02-21 09:11] #2422 closed, assigned to nobody

[2022-02-26 19:54] kenji-miyake commented on #2417
Since I've created https://github.com/autowarefoundation/sample_vehicle_launch that doesn't depend on `kvaser` or `pacmod`, I'll close this.

[2022-02-26 19:54] #2417 closed, assigned to nobody

[2022-02-26 19:57] kenji-miyake commented on #2418
I'll close this because there is no response and I think it's a problem of tool usage.

We use https://www.conventionalcommits.org/en/v1.0.0/ and `Squash merge` now. I'll write guideline documents about that and it's tracked in https://github.com/autowarefoundation/autoware-documentation/issues/6.

[2022-02-26 19:57] #2418 closed, assigned to IshitaTakeshi

[2022-02-26 19:58] kenji-miyake commented on #2411
Unified.
https://github.com/autowarefoundation/sample_vehicle_launch
https://github.com/autowarefoundation/sample_sensor_kit_launch

[2022-02-26 19:58] #2411 closed, assigned to nobody

[2022-03-04 05:50] angry-crab opened #2423 "Docker instructions for multiple terminal usage"
I'm wondering if there is any `cmd` existing in `universe` such that we could enter a specific docker container from another terminal. For example, when we were using `ade` in `Auto`, if an environment has been created, we can simply type `ade enter` from another terminal. I understand that we could use `docker exec --it container id` to enter the same image from another terminal. It seems that wh

[2022-03-04 06:09] kenji-miyake commented on #2423
@angry-crab I think you can do it by this.

[code]

![image](https://user-images.githubusercontent.com/31987104/156709267-c9d625c0-c81e-4d36-9583-a88d515565b2.png)

[2022-03-04 06:14] kenji-miyake commented on #2423
You can send pull requests and update documents.

Around here?
- https://github.com/autowarefoundation/autoware/blob/main/docker/README.md
- https://github.com/autowarefoundation/autoware-documentation/pull/28

Or you can guide a new how-to guide page like this.
- https://github.com/autowarefoundation/autoware-documentation/pull/27

[2022-03-07 03:01] angry-crab commented on #2423
Thanks! I'll add it to the readme.

[2022-03-09 13:35] wep21 opened #2424 "The location of autoware_auto_msgs"
Currently `autoware_auto_msgs` repository for `universe` and `core` is located in `tier4` group.
I think the repository should be in `autowarefoundation` group.

[2022-03-09 13:36] wep21 commented on #2424
@xmfcx @mitsudome-r @kenji-miyake Thoughts?

[2022-03-09 13:39] xmfcx commented on #2424
@wep21 Let's keep them there for now. We will discuss the final messages structure as we finalize the design. And recreate the repository in `autowarefoundation` group with the updated messages.

And we will switch to using them instead in the universe repository.

[2022-03-09 13:43] xmfcx commented on #2424
The messages won't be `autoware_auto_msgs` anymore, I think we should name them `autoware_msgs` and update https://index.ros.org/p/autoware_msgs/github-autoware-ai-messages/ for our use case, what do you think?

Since we will only update the `galactic` and later, old messages could stay the way they are.

`noetic` and older would belong to `autoware.ai` and `galactic` and later would belong to `au

[2022-03-09 14:33] kenji-miyake commented on #2424
I think so, too.
https://github.com/autowarefoundation/autoware.universe/issues/142
https://github.com/autowarefoundation/autoware/blob/47f8d0e15f9c327c1c45c9b726f9970e5edf2430/autoware.repos#L5

But I'll leave this issue to Fatih-san and Mitsudome-san.

[2022-03-10 16:15] filiperinaldi commented on #2420
I spoke to one of our open source specialist and it seems what many projects do to be able to use the "<Projects> and Contributors" is to use a CONTRIBUTORS.md document where we simply add people's names as it goes.

[2022-03-11 01:33] kenji-miyake commented on #2420
@filiperinaldi Thank you for your information.
Did you recommend replacing the `NOTICE` file with `CONTRIBUTORS.md`? Just showing another way?

[2022-03-11 15:27] kenji-miyake commented on #2420
The PR has moved from autowarefoundation/autoware#29 to https://github.com/autowarefoundation/autoware-documentation/pull/44.

[2022-03-12 04:39] kenji-miyake opened #2425 "Add NOTICE files to each repository"
I'll change the name and year from https://github.com/autowarefoundation/autoware/blob/main/NOTICE depending on the repository's files.

- [x] autoware_common
- [x] autoware.core
- [x] autoware.universe
- [x] autoware_launch
- [x] sample_sensor_kit_launch
- [x] sample_vehicle_launch
- [x] autoware_individual_params
- [x] autoware-github-actions
- [x] autoware-documentation

---

FYI, to clone thes

[2022-03-12 06:08] kenji-miyake commented on #2425
Seeing https://github.com/Autoware-AI/autoware.ai, it seems it was in `2017` that TIER IV started to commit as "TIER IV".

So, I'll use `2017` for the TIER IV's copyright notation in `autoware.universe`.

[code]

[2022-03-12 06:29] kenji-miyake commented on #2425
For other repositories,
- autoware.core:
    - I won't add TIER IV's copyright yet because there is no code.
- autoware-documentation/autoware_individual_params:
    - I won't add TIER IV's copyright because there is no code.
- autoware_launch/sample_vehicle_launch/sample_sensor_kit_launch:
    - Use `2020`. (It is the timing we've published [our proposal](https://github.com/tier4/AutowareArchitec

[2022-03-12 06:39] kenji-miyake commented on #2425
@xmfcx cc @mitsudome-r Could you confirm this?
We can wait for autowarefoundation/autoware.ai#2420 and https://github.com/autowarefoundation/autoware-documentation/pull/44 before merging `NOTICE` files.

[2022-03-12 20:17] kenji-miyake commented on #2420
As https://github.com/autowarefoundation/autoware-documentation/pull/44 is merged, I'll close this issue.

However, everyone can reopen this and propose a change if necessary.

[2022-03-12 20:17] #2420 closed, assigned to nobody

[2022-03-13 05:44] kenji-miyake commented on #2425
@xmfcx Thank you so much!

[2022-03-13 05:44] #2425 closed, assigned to kenji-miyake

[2022-03-18 05:52] xczhanjun opened #2426 "The lidar_centerpoint package can not download model automatically due to LIB_TORCH NOT FOUND"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

lidar_centerpoint model can not download model automatically due to LIB_TORCH NOT FOUND

### Expected behavior

lidar_ce

[2022-03-18 06:08] kenji-miyake commented on #2426
Thank you for reporting this, but please wait for https://github.com/autowarefoundation/autoware.universe/pull/480 to be merged.

[2022-03-29 07:21] angry-crab opened #2427 "Vulkan driver fails to detect GPU"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

In the current `universe` image, `vulkaninfo` cannot detect host GPU. This might cause simulator to crash in the future.

[2022-03-30 06:36] angry-crab commented on #2423
Close since it it no longer needed.

[2022-03-30 06:36] #2423 closed, assigned to nobody

[2022-03-31 08:10] kenji-miyake opened #2428 "Upgrade CUDA to 11.6 Update 2?"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

"All versions prior to CUDA Toolkit 11.6 Update 2" have a security risk.

https://nvidia.custhelp.com/app/answe

[2022-03-31 08:12] kenji-miyake commented on #2428
@mitsudome-r @xmfcx @yukkysaito @esteve What do you think about this?

[2022-03-31 08:14] kenji-miyake commented on #2428
It seems there is no `11.6` for `libnvinfer` yet.
https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/
![image](https://user-images.githubusercontent.com/31987104/161009115-272fd47c-558f-48bf-96c9-6a30a1672d69.png)

[2022-03-31 08:51] esteve commented on #2428
@kenji-miyake is it possible to mix the rest of CUDA 11.6 with `libnvinfer-plugin` 11.4? If not, I'd wait until the new version is released.

[2022-03-31 08:55] kenji-miyake commented on #2428
Actually, I believe it's impossible. We have to wait for the release in any case.

Also, I'm concerned about the dependencies in https://github.com/autowarefoundation/autoware.universe.
@yukkysaito knows well about this.

[2022-04-01 06:14] IshitaTakeshi commented on #2427
1. What task are you trying to do? Because usually I don't explicitly use Vulcan in rosbag simulation
2. What is the output of `nvidia-smi` on the host environment?

[2022-04-01 06:42] angry-crab commented on #2427
I'm trying to start `svl` simulator. This Vulcan driver is a cross-platform GPU API released by nvidia. It was mainly used for graphics and simulation development. Most modern simulator depends on this API, such as `carla` and `svl`.
Detailed information: [vulkan](https://developer.nvidia.com/vulkan)

`nvidia-smi` outputs the correct information about GPU.

[2022-04-01 06:45] IshitaTakeshi commented on #2427
So are you working on the main branch? Usually I'm working on tier4/proposal so there might be misunderstanding sorry

[2022-04-01 08:05] angry-crab commented on #2427
Yes, I'm working with main branch. Does `tier4/proposal` branch use the same docker image?

[2022-04-01 09:42] IshitaTakeshi commented on #2427
Dockerfile seems the same but it copies files from the host so the Autoware code included in the docker container will be different

[2022-04-01 09:48] IshitaTakeshi commented on #2427
But the container environment will be the same and in my environment CUDA seems to work correctly so something is wrong

[2022-04-04 12:55] yukkysaito opened #2429 "The obstacle avoidance marker is busy by default"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The obstacle avoidance marker is busy by default.
![image](https://user-images.githubusercontent.com/8327598/16

[2022-04-04 12:56] yukkysaito commented on #2429
Sorry, I mistaked to post

[2022-04-04 12:57] #2429 closed, assigned to takayuki5168

[2022-04-05 17:58] yukkysaito commented on #2428
To be sure, I am currently checking tit works properly with cuda 11.4.
After that, I will check it works with cuda11.6.

[2022-04-07 00:44] yukke42 commented on #2426
@xczhanjun https://github.com/autowarefoundation/autoware.universe/pull/480 is merged, but the detected objects of lidar_centerpoint isn't published because of other problem.
Please try [the link](https://github.com/autowarefoundation/autoware.universe/issues/643#issuecomment-1090090877), to use lidar_centerpoint.

[2022-04-07 05:25] wep21 opened #2430 "add allow-change-held-packages option after ansible 2.13 will be released"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

add allow-change-held-packages option [here](https://github.com/autowarefoundation/autoware/blob/909ec079764f7a

[2022-04-13 07:54] shmpwk opened #2431 "Apply Autoware to the diff-drive robot"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description
We are going to integrate Autoware into the diff-drive robot.

#### Prerequirements:
We have diff-drive robot wi

[2022-04-15 00:49] kenji-miyake commented on #2428
The new version should be available in both `x86_64(amd64)` and `sbsa(arm64)`.
https://github.com/autowarefoundation/autoware/pull/154#issuecomment-1099745019

https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/
https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/sbsa/

[2022-04-19 09:09] esteve opened #2432 "Autoware.universe install fail on Jetson Xavier platform"
### Discussed in https://github.com/autowarefoundation/autoware/discussions/120

<div type='discussions-op-text'>

<sup>Originally posted by **jason914** March 25, 2022</sup>
Dear all,

I use the Jetson Xavier platform. It is ARM64 platform. The OS is JetPack 4.4 (Ubuntu 18.04).
I refer [https://autowarefoundation.github.io/autoware-documentation/main/installation/autoware/docker-installation/](ur

[2022-04-19 14:29] esteve commented on #2432
According to https://forums.developer.nvidia.com/t/mounting-of-img-file/128257/8 it should be possible to mount the Jetson image as a loopback device, but so far I haven't succeeded. `fdisk` reports an offset of `1187840`, but neither `losetup` or `mount` seem to like it:

[code]

I'll see if I can extract the image via `dd` and mount it without offset.

[2022-04-20 11:14] ghost opened #2433 "Permission denied errors occur when building perception packages that require trained model ONNX files to be downloaded from Google Drive"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When doing a clean build of any perception packages that require trained model ONNX files (eg: `lidar_apollo_instance_se

[2022-04-20 11:34] yukkysaito commented on #2433
Can i assign @eratostennis? :pray:

[2022-04-20 11:37] yukkysaito commented on #2433
**Cause:**
If there are too many downloads, Google drive will limit the downloads with gdown.

**Temporary solution:**
 download manually the weight files from download links

[2022-04-21 11:21] esteve commented on #2432
More progress, I managed to use `kpartx` to mount the first partition in the image and `chroot`ed in to inspect the `/` filesystem. However, running Docker from inside the `chroot` is not as easy, but I'll continue trying.

[2022-04-24 12:42] kenji-miyake commented on #2428
I've created a helper tool to find CUDA versions.
https://github.com/kenji-miyake/find-cuda-versions

Now we can find if there are any corresponding versions to a certain CUDA version.

[code]

[2022-04-26 01:12] eratostennis commented on #2433
I will store the model on another storage this week to avoid the limitation of google drive.

[2022-04-27 03:41] kenji-miyake opened #2434 "[CI] github-release creates multiple releases for the same branch"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

With this branches/tags,
![image](https://user-images.githubusercontent.com/31987104/165434982-e1544dd7-1ac7-4c61-8988-9

[2022-04-27 04:11] kenji-miyake commented on #2434
The `edit` command is introduced in v2.8.0 and the default version installed is v2.7.0. :pleading_face:
https://github.com/cli/cli/releases/tag/v2.8.0
https://github.com/kenji-miyake/autoware/runs/6187394858?check_suite_focus=true#step:8:4

Seeing the release cycle, I guess it's released this week.

[2022-04-27 04:53] kenji-miyake opened #2435 "Support ROS 2 Rolling on Ubuntu 22.04"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

ROS 2 Humble will be released this May.
https://docs.ros.org/en/rolling/Releases/Release-Humble-Hawksbill.html

[2022-04-27 09:58] esteve commented on #2435
@kenji-miyake let me if there's anything I can help with, I'm happy to contribute code and review PRs.

[2022-04-28 05:22] kaspermeck-arm opened #2447 "Enable multi-stage builds for Autoware"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Enable multi-stage builds for Autoware (eg: using Docker Compose or another similar tool).

### Purpose

Lay th

[2022-04-28 14:20] kenji-miyake opened #2436 "Improve PlotJugger installation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

PlotJugger installation was added in autowarefoundation/autoware#243.

But it has a problem, it can't be used i

[2022-04-28 14:27] kenji-miyake opened #2437 "CUDA installation for ARM64 is broken for some reasons"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

https://github.com/autowarefoundation/autoware/runs/6212294556?check_suite_focus=true#step:6:4715

![image](https://user

[2022-04-28 15:12] kenji-miyake commented on #2435
Since Humble is already available with `ros2-testing`, I'll test it, too.
https://docs.ros.org/en/humble/Installation/Ubuntu-Install-Debians.html

[2022-04-29 02:31] kenji-miyake opened #2438 "CUDA GPG causes an error"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

See https://github.com/autowarefoundation/autoware_common/runs/6220775368?check_suite_focus=true#step:6:16

### Expected

[2022-04-30 07:38] #2438 closed, assigned to nobody

[2022-04-30 07:41] kenji-miyake commented on #2438
CI:
- https://github.com/autowarefoundation/autoware/runs/6238798725?check_suite_focus=true
- https://github.com/autowarefoundation/autoware/runs/6238798979?check_suite_focus=true

[2022-04-30 15:37] kenji-miyake commented on #2437
Now it seems fixed.
https://github.com/autowarefoundation/autoware/runs/6238798979?check_suite_focus=true
https://github.com/autowarefoundation/autoware/runs/6238801834?check_suite_focus=true

[2022-04-30 15:37] #2437 closed, assigned to nobody

[2022-05-02 09:13] shmpwk opened #2439 "Fail to update a workspace"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I'm following [How to update a workspace](https://autowarefoundation.github.io/autoware-documentation/main/installation/

[2022-05-02 09:20] kenji-miyake commented on #2439
@shmpwk Ah, yeah exactly. I'm sorry for my mistake. :bow:
Could you fix send a PR to fix this? :pray:

Strictly speaking, I believe `.gitignore` isn't related. It's because `~/autoware` is a Git repository. So you can also use `vcs pull --nested` to update the workspace.

[2022-05-02 09:30] shmpwk commented on #2439
Thank you, I see.
Which do you lilke `vcs pull src` or `vcs pull --nested`?

[2022-05-02 09:33] shmpwk commented on #2439
I've use former.
Close by https://github.com/autowarefoundation/autoware-documentation/pull/95

[2022-05-02 09:33] #2439 closed, assigned to nobody

[2022-05-02 09:40] kenji-miyake commented on #2439
Thank you for your PR!
I personally prefer `vcs pull src` because I've never used the `--nested` option.

[2022-05-02 10:46] #2434 closed, assigned to kenji-miyake

[2022-05-02 13:27] esteve commented on #2432
According to https://github.com/orgs/autowarefoundation/discussions/255#discussioncomment-2664151 upgrading to Jetpack 5.0 fixes any CUDA-related issues. @jason914 could you try upgrading to Jetpack 5.0 and see if you can run Autoware? Thanks.

[2022-05-06 08:33] Sharrrrk opened #2440 "Run setup-dev-env.sh docker failed"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When I run setup-dev-env.sh docker for the first time, the following error occurs:

[code]

### Expected behavior

The s

[2022-05-06 08:41] kenji-miyake commented on #2440
@Sharrrrk Thank you for reporting this.
- What's your Ansible version?
https://github.com/autowarefoundation/autoware/blob/af25faddd16bf8f9a1bace814b0f82e020803f5b/setup-dev-env.sh#L98-L99
- Is `$HOME/.local/bin` in your PATH?

[2022-05-06 08:48] Sharrrrk commented on #2440
ansible                5.7.1

For my current user, `ansible-galaxy` is available, but under root accout not. The script runs with sudo, so this error occurs.

@kenji-miyake I was just updating my description, yes you are right, ansible is installed by a user account, not root account. But the version check passes.

[2022-05-06 09:07] kenji-miyake commented on #2440
@Sharrrrk I see, thank you. Could you update the script to work in your environment? Or should I help something?

[2022-05-06 09:08] kenji-miyake commented on #2440
By the way, I'm thinking of removing `sudo` from `pip` install. 92c356754133b8414d5a0feef04fb51227547bda
Is that related to this issue?

[2022-05-06 09:12] Sharrrrk commented on #2440
I can quick fix it with `sudo pip3 install ansible`.

This definitely would solve this issue. Thank you.

[2022-05-06 09:12] #2440 closed, assigned to nobody

[2022-05-09 04:54] Sharrrrk commented on #2432
@esteve I just tested using Jetson AGX Xavier with JetPack 5.0 (Ubuntu 20.04) and latest arm64 docker image, after a minor fix [869](https://github.com/autowarefoundation/autoware.universe/pull/869), build success without errors.
`Summary: 195 packages finished [1h 54min 26s]Summary: 195 packages finished [1h 54min 26s]`

CUDA and OS version as below:
[code]

[2022-05-09 06:07] mengmenghu-Alex opened #2441 "build faild"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

--- stderr: traffic_light_classifier
CMake Error at ament_cmake_symlink_install/ament_cmake_symlink_install.cmake:100 (m

[2022-05-09 06:07] #2441 closed, assigned to nobody

[2022-05-09 07:54] Sharrrrk commented on #2432
rocker --nvidia --x11 --user --volume $HOME/autoware -- ghcr.io/autowarefoundation/autoware-universe:latest-arm64
Following is error log.

Having the same behavior for Q2

[2022-05-10 17:32] kaspermeck-arm commented on #2447
@LalithVipulananthan
We would need a volunteer who could do the work for this issue, I'll be able to assist of course. From my knowledge, there's only one script which build the actual container image. The files can be found here:
- /home/ubuntu/autoware/docker/build.sh
- /home/ubuntu/autoware/docker/autoware-universe/Dockerfile
- /home/ubuntu/autoware/docker/autoware-universe/docker-bake.hcl

Rep

[2022-05-10 19:37] kenji-miyake commented on #2447
@kasperornmeck cc @LalithVipulananthan
FYI, as written in https://github.com/autowarefoundation/autoware/blob/main/docker/README.md, `build.sh` is for the local build.

The actual images hosted on https://github.com/autowarefoundation/autoware/pkgs/container/autoware-universe are created by these workflows and actions.
- https://github.com/autowarefoundation/autoware/blob/main/.github/workflows/bu

[2022-05-12 10:10] shmpwk commented on #2441
If you can describe
- your version of OS , cuda version, cudnn, TensorRT and etc,
- the command the error reproduced
we are very helpful since we can share the problem.

[2022-05-14 09:42] kenji-miyake commented on #2436
I'll add an `exec_depend` after autowarefoundation/autoware#300 is merged.
-> Since it's released, I'll cancel this.

[2022-05-18 14:50] kaspermeck-arm commented on #2447
@kenji-miyake
Thanks for sharing these links. I'll have to look more into these to understand the workflow in GitHub.

[2022-05-18 15:05] kaspermeck-arm commented on #2447
@kenji-miyake
Does this mean that the developer environment container used in the cloud on GitHub is different from the developer container which would be used locally?

[2022-05-18 15:23] kenji-miyake commented on #2447
@kasperornmeck No, they are not so different. The differences are just some settings.
To build Docker images with GitHub Actions, it's better to use useful third-party actions. But they can't be used in our local, so we need to change some settings to handle the differences.

[2022-05-21 00:56] brkay54 opened #2442 "Add Ccache into docker image to speed up recompilation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In autoware documentation page, [Ccache](https://ccache.dev/) is recommended to speed up recompilation. See [he

[2022-05-21 01:00] brkay54 commented on #2442
@kenji-miyake Should we add Ccache into docker image? What do you think?

[2022-05-21 16:59] kenji-miyake commented on #2442
@brkay54 Yes, I think it's possible. Could you send a PR like plotjuggler?

[2022-05-21 18:41] #2442 closed, assigned to brkay54

[2022-05-22 15:41] kenji-miyake commented on #2435
I'll support Humble in another branch/PR.

[2022-05-22 15:41] #2435 closed, assigned to kenji-miyake

[2022-05-22 16:52] kenji-miyake opened #2443 "Support ROS 2 Humble"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

A follow-up for autowarefoundation/autoware#2435.

### Purpose

To support ROS 2 Humble.

### Possible approach

[2022-05-23 16:54] kenji-miyake opened #2444 "Make the Docker image size smaller"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

After https://github.com/autowarefoundation/autoware/pull/340, the image size is too large because unnecessary

[2022-05-23 17:25] kenji-miyake commented on #2444
Related:
- https://docs.nvidia.com/cuda/eula/index.html#attachment-a
- https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#package-manager-metas
- https://github.com/Autoware-AI/docker/blob/0d808605034faf5470b00e9a1db73307c400111b/generic/Dockerfile.cuda.melodic
- https://github.com/NVIDIA/TensorRT/blob/main/docker/ubuntu-20.04.Dockerfile
- https://gitlab.com/nvidia/container-ima

[2022-05-24 02:40] kenji-miyake commented on #2444
I'll apply https://gitlab.com/nvidia/container-images/cuda/-/blob/master/dist/11.6.2/ubuntu2004/devel/Dockerfile#L56.

[2022-05-24 03:06] #2444 closed, assigned to nobody

[2022-05-24 03:33] kenji-miyake commented on #2444
Actually, the image size wasn't such a big problem. It's important to have a common base for CUDA libraries.
I'll create another issue.

[2022-05-24 05:03] hakuturu583 opened #2445 "resolve libzmqpp-dev package in Ubuntu 22.04"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

scenario_simulator_v2 depends on [libzmqpp-dev package](https://packages.ubuntu.com/focal/libzmqpp-dev) in ubun

[2022-05-24 06:18] kenji-miyake opened #2446 "Use a common base image for CUDA libraries"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, we install CUDA using `setup-dev-env.sh`, but it creates different layers and enforces people to pul

[2022-05-24 10:21] kenji-miyake opened #2448 "[Humble] arm64 build fails"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

https://github.com/autowarefoundation/autoware/runs/6556147878?check_suite_focus=true#step:7:5706

[code]

### Expected

[2022-05-24 11:16] xmfcx commented on #2448
I've reproduced this and now working on it.

[2022-05-24 11:48] xmfcx commented on #2448
I've applied change from https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/merge_requests/1357/diffs#76174e89c5600d934d9dd62a01ca0159e7e0d42a_35_38 and it compiled fine.

created pr in the package: https://github.com/tier4/grid_map/pull/2

[2022-05-24 11:48] xmfcx commented on #2448
Once the PR is merged, we can close this issue.

[2022-05-24 12:00] kenji-miyake commented on #2448
https://github.com/tier4/grid_map/pull/2#pullrequestreview-983084399

Could you submit a PR to https://github.com/ANYbotics/grid_map/tree/ros2 as well?
We're temporarily using TIER IV's fork.

[2022-05-24 12:22] xmfcx commented on #2448
Created https://github.com/ANYbotics/grid_map/pull/349

[2022-05-24 12:34] kenji-miyake commented on #2448
I've confirmed it's resolved. Thanks!

[2022-05-24 12:34] #2448 closed, assigned to xmfcx

[2022-05-26 09:46] esteve commented on #2413
@kenji-miyake what do you think of having an `embree_vendor` package and have `scenario_simulator` depend on it? If `libembree-dev` is installed on the system, that'll be used, and if not, build it.

[2022-05-26 12:05] kenji-miyake commented on #2413
@esteve I think it's great! @hakuturu583 What do you think?

[2022-05-26 15:26] hakuturu583 commented on #2413
I arleady developed embree_vendor package, but it takes a lot of time.

https://github.com/OUXT-Polaris/embree_vendor

[2022-05-26 15:27] hakuturu583 commented on #2413
And also, I have not tested this vendor package on arm CPU.

[2022-05-27 05:58] plane-li opened #2449 "Analyze the execution time of the function nodes"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

We have done some work to analyze and calculate the execution time of the function nodes using the ros2_tracing

[2022-05-27 09:08] eratostennis commented on #2433
@LalithVipulananthan

In this pull request I moved ml models to another storage.
I don't think the same problem will occur.

If it's good for you, please close this issue.

[2022-05-27 13:05] esteve opened #2450 "Move external repositories to src/external in the .repos file"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

As described in https://github.com/autowarefoundation/autoware/pull/370#discussion_r883577259= it makes sense t

[2022-06-01 07:05] JianKangEgon commented on #2449
For the control module, I focus on two controllers (MPC for lateral and PID for longitudinal). These data were collected under two different status. See following for details:

![statistics_tracing_control](https://user-images.githubusercontent.com/87111711/171346894-625b7c1a-36f4-40d9-b43e-3433572e00dd.png)

![still](https://user-images.githubusercontent.com/87111711/171346919-d183c145-6a37-42b2-

[2022-06-06 07:44] vios-fish opened #2451 "Add configuration file for TIER IV CI/CD Pipeline"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I add configuration file for TIER IV's CI/CD Pipeline.
The configuration file can contain the following
- Build

[2022-06-08 00:54] yukke42 opened #2452 "CUDA environment is broken when I run a docker container with rocker"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When I run a docker container built on this repository with rocker, `nvidia-smi` and CUDA packages of autoware.universe

[2022-06-08 08:58] ambroise-arm commented on #2427
The nvidia vulkan library needs to be registered for it to be discovered when running a vulkan program.
In Autoware.Auto we were adding the necessary file to the docker environment here: https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/blob/e3e26be1ab4b822996df60f261d031d7924f20ac/tools/ade_image/Dockerfile#L100

Replicating this in the .universe environment (changing /etc/vulkan

[2022-06-10 06:14] #2433 closed, assigned to eratostennis

[2022-06-10 06:38] #2426 closed, assigned to nobody

[2022-06-15 08:55] #2450 closed, assigned to esteve

[2022-06-15 23:38] ghost commented on #2447
For the Perception PoC, to build all dependent components for perception, use the following command:
`colcon build --packages-up-to tier4_perception_launch`

[2022-06-17 09:17] cyn-liu commented on #2449
For the localization module, we analyzed the running time of multiple nodes and container such as pose_initializer, ndt_scan_matche, ekf_localizer, etc., and specific results are as follows:
![image](https://user-images.githubusercontent.com/104069308/174268153-0c352075-d4fc-4716-9dc1-6697ddec14c5.png)

[2022-06-17 10:02] beginningfan commented on #2449
perspection:
mode=lidar
![110](https://user-images.githubusercontent.com/103237402/174276527-5900dd2e-d641-4a13-9140-ae80f01783b3.png)

mode=camera_lidar_fusion
![111](https://user-images.githubusercontent.com/103237402/174276554-cbe2203d-820d-42bd-9f9c-e8d5f1c0fbac.png)

[2022-06-19 01:20] kenji-miyake commented on #2419
Closed by autowarefoundation/autoware#397.

[2022-06-19 01:20] #2419 closed, assigned to nobody

[2022-06-19 01:24] kenji-miyake commented on #2424
Move to https://github.com/autowarefoundation/autoware_msgs/issues/2.

[2022-06-19 01:24] #2424 closed, assigned to xmfcx

[2022-06-20 03:29] LevieSun commented on #2452
I get the same problem

[2022-06-20 03:37] kenji-miyake commented on #2452
I think this will be resolved after we change the base image to [11.7.0-devel-ubuntu22.04](https://hub.docker.com/layers/cuda/nvidia/cuda/11.7.0-devel-ubuntu22.04/images/sha256-16c790bc3349d70a0416cf8bf1eef9b40433ee907018b5ea32bdbddf75433a9d?context=explore).

But to do that, the network installation packages of cuDNN and TensorRT should be released.
https://developer.download.nvidia.com/compute/c

[2022-06-20 03:54] LevieSun commented on #2452
Do you have any other method to solve this problem?

[2022-06-20 04:47] kenji-miyake commented on #2452
Regarding `nvidia-smi`, I guess it's fixed by installing `nvidia-utils`.

[code]

Regarding `cudaErrorInsufficientDriver`, I'm sorry but I'm not sure. :pleading_face:
I need to investigate the issue to catch up.

[2022-06-20 06:10] may012345 commented on #2452
I also encontered the similar problem. When I run "colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release" in the container of "ghcr.io/autowarefoundation/autoware-universe:latest" image , I found "CUDA_TOOLKIT_ROOT_DIR not found or specified
CUDA NOT FOUND
TensorRT is NOT Available
CUDNN is NOT Available" error. It seems the container could not find CUDA. How do I fix this problem

[2022-06-20 06:16] kenji-miyake commented on #2452
@may012345 Seeing @yukke42 -san's comment, I guess you can run Autoware using pure `Docker`, not `rocker`.

[2022-06-20 06:25] yukke42 commented on #2452
Yes. I could run autoware with a`docker run` command and a image built locally following the official tutorial.

[code]

[2022-06-20 06:26] may012345 commented on #2452
I run with "rocker --nvidia --x11 --user --volume $HOME/autoware -- ghcr.io/autowarefoundation/autoware-universe:latest" and met the problem.

[2022-06-21 03:06] kenji-miyake commented on #2425
Memo: The reference format we've used in https://github.com/autowarefoundation/autoware/pull/29#discussion_r792561655 was https://github.com/apache/solr/blob/0ba432371064586a900ae1e66b483f0685d4ef7f/NOTICE.txt.

[2022-06-21 13:22] xmfcx opened #2454 "Create separate containers for testing Open AD Kit"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I will create 2 docker containers that will pull the universe and build selected packages separated by their ba

[2022-06-21 14:55] xmfcx commented on #2454
Created branch https://github.com/autowarefoundation/autoware/tree/openadkit-containers to work on this, will create a PR when I start making changes.

[2022-06-22 06:23] ghost commented on #2454
The original issues created for this work are below:
- https://github.com/autowarefoundation/autoware.ai/issues/2447
- https://github.com/autowarefoundation/autoware-documentation/issues/101
- https://github.com/autowarefoundation/autoware-projects/issues/36
- https://github.com/autowarefoundation/autoware-projects/issues/37

The top two issues relate to creating some kind of automated build proce

[2022-06-22 17:33] wep21 commented on #2445
I think we can close this issue now that autowarefoundation/autoware#350 is closed.

[2022-06-23 01:00] #2445 closed, assigned to nobody

[2022-06-26 07:05] kenji-miyake commented on #2428
Updated to 11.6 in the `humble` branch.
https://github.com/autowarefoundation/autoware.ai/blob/d2feaef806f93ceb60ae50d49ae98d904fef3e09/amd64.env#L5

But we should also consider updating to 11.7 because 11.6 isn't released to ubuntu 22.04 repo.
https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64/

Currently, we use 20.04 repo with ubuntu 22.04 because 11.7 doesn't have corre

[2022-06-26 07:05] #2428 closed, assigned to nobody

[2022-07-04 06:03] #2436 closed, assigned to nobody

[2022-07-04 17:02] #2443 closed, assigned to nobody

[2022-07-06 13:00] #2451 closed, assigned to nobody

[2022-07-13 07:39] #2452 closed, assigned to nobody

[2022-07-18 01:28] #2449 closed, assigned to nobody

[2022-08-04 17:16] #2454 closed, assigned to xmfcx

[2022-08-17 01:29] #2431 closed, assigned to soblin, shmpwk, kminoda

[2022-08-17 10:32] #2427 closed, assigned to nobody

[2022-09-01 07:04] #2430 closed, assigned to nobody

[2022-09-15 07:58] #2432 closed, assigned to esteve